.deck {
    justify-content: center;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    position: absolute;
    right: 0px;
    border-left: solid rgba(0, 0, 0, .2) 1px;
    background-color: darkgreen;
    top: 0px;
}

@media screen and (max-width: 500px) {
    .deck {
        width: 80px;
    }
}

/* width */
.deck::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.deck::-webkit-scrollbar-track {
    background: #131313;
}

/* Handle */
.deck::-webkit-scrollbar-thumb {
    background: rgb(173, 53, 53);
    background: linear-gradient(0deg, rgba(173, 53, 53, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(173, 53, 53, 1) 100%);
    border: solid 1px black;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 34, 34);
    background: linear-gradient(0deg, rgba(212, 34, 34, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(212, 34, 34, 1) 100%);
}

.deckcount {
    width: 100%;

}
