#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(15, 82, 24, 0.52);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9000;
    position: fixed;
    cursor: default;
}
