.suit {
    height: auto;
    width: 100%;
}

.card {
    background-color: beige;
    height: 100px;
    display: flex;
    width: 50px;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    border: solid black 1px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .4);
    position: relative;
    padding-bottom: 10px;
}

.topline {
    width: calc(100% + 6px);
    margin-left: 0px;
    /* background-color: aliceblue; */
    text-align: left;
}

.botline {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 10px;
}

/* .suit:hover {
    animation-name: growsuit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} */

.card:hover {
    animation-name: growcard;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

/* .suit:not(:hover) {
    animation-name: ungrowsuit;
    animation-duration: 1s;

} */

.card:not(:hover) {
    animation-name: ungrowcard;
    animation-duration: 1s;

}

/* @keyframes growsuit {
    from {
        height: 50px;
        width: 50px;
    }

    to {
        width: 60px;
        height: 60px;
    }
}

@keyframes ungrowsuit {
    from {
        height: 60px;
        width: 60px;
    }

    to {
        width: 50px;
        height: 50px;
    }
} */

@keyframes growcard {
    from {
        height: 100px;
        width: 50px;
    }

    to {
        width: 55px;
        height: 105px;
    }
}

@keyframes ungrowcard {
    from {
        width: 55px;
        height: 105px;
    }

    to {
        height: 100px;
        width: 50px;
    }
}
