.playingarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    padding-right: 270px;
    max-height: 100%;
    min-height: 500px;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .playingarea {
        padding-right: 80px;
    }
}

.resetdiv {
    display: flex;
    width: 200px;
    /* align-items: center; */
    /* margin-top: 25px; */
    position: relative;
    top: 35px;
    justify-content: center;
    padding-top: 5px;
}


.resetbutton {
    border-radius: 12px;
    padding: 5px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .4);
    position: relative;
    font-family: "Quicksand";
    background-color: rgb(234, 234, 234);
    font-weight: bolder;
    font-size: 16px;
}

.resetbutton:hover {
    animation-name: buttonshadow;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes buttonshadow {
    from {
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .4);
        top: 0px;
        left: 0px;

    }

    to {
        box-shadow: 0px 0px 0 0 rgba(0, 0, 0, .4);
        top: 2px;
        left: 2px;
    }
}

.resetinput {
    width: 35px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
}
